.coursePage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  font-size: 5vmin;
  font-weight: bold;
  margin-bottom: 20px;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 60px;
}
