.navContainer {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  position: relative;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16) !important;
}

.navContent {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 0 5%;
}

.navLogo {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.navContainer nav {
  height: 100%;
}

.navLinks {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.navItem {
  height: 100%;
  text-decoration: none;
  padding: 0px 20px;
}

.navLink {
  height: calc(100% - 2px);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #525552;
  transition: all 0.3s ease 0s;
}

.navItem:hover {
  color: #000000 !important;
}

.active {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.authBtns {
  display: flex;
  width: 200px;
}

.menu-icon,
.close-icon {
  display: none;
}

@media only screen and (max-width: 820px) {
  .navContainer nav,
  .authBtns {
    display: none;
  }

  .navLinks {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navItem {
    display: inline-block;
    padding: 5px 0px;
  }

  .navContainerExpanded nav {
    width: 100%;
    margin-top: 17px;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
  }

  .navContainerExpanded {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 17px 5%;
    height: auto;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16) !important;
  }

  .navContainerExpanded .authBtns {
    display: flex;
    margin-top: 10px;
  }

  .menu-icon,
  .close-icon {
    display: block;
    cursor: pointer;
  }

  .navContainerExpanded .menu-icon {
    display: none;
    cursor: none;
  }
}
