.testimonies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.testimoniesHeader {
  font-size: 5vmin;
  font-weight: 500;
}

.testimonies .top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonies .card {
  margin: 20px;
}

.testimonies .bottom {
  display: flex;
  column-gap: 5px;
}

.cardNo {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}

.activeCardNo {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #0057ff;
}
