.testimonyCard {
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.testimony {
  display: flex;
  justify-content: center;
  font-style: italic;
  margin: 0px 80px;
}

.testimonyDivider {
  width: 100px;
  height: 3px;
  background-color: #0057ff;
}

.testimonyFooter {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0px 80px;
}

.testimonyAuthor {
  font-size: 2vmin;
  font-weight: 600;
}

.testimonyFooter2 {
  font-size: 1.6vmin;
}
